@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #f8f8ff;
}
h1 {
  display: flex;
  justify-content: center;
}
.library-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  margin-top: 50px;
  gap: 25px;
  flex-wrap: wrap;
  padding-bottom: 15px;
  min-height: 70vh;
}
.modal {
  /*will be toggled to block by JS*/
  display: none;
  /*keeps modal on top- greater takes priority:*/
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  /*enables scroll if necessary*/
  overflow: auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(50, 50, 93, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25vh 25vw;
  backdrop-filter: blur(2px);
}
.modal-form-box {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 20vh 20vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 5px;
}
.close-button {
  border: none;
  background-color: unset;
  cursor: pointer;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 400px;
  padding: 50px 120px;
  border-radius: 8px;
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.pairbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.new-btn {
  max-width: 100px;
  max-height: 50px;
  padding: 6px 8px;
  margin: 20px;
  border: none;
  background-color: unset;
  cursor: pointer;
  transition: 0.5s;
}
.new-btn:hover {
  transform: rotate(90deg);
}
.new-img {
  width: 44px;
  height: 44px;
  transition: 0.2s;
}
.remove-button {
  top: 10px;
  left: 10px;
  position: absolute;
  display: flex;
  border: none;
  background-color: white;
  font-size: small;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
}
.remove-button:active {
  box-shadow: none;
}
.remove-button:hover {
  transform: rotate(180deg);
}
.read {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(63, 192, 58, 0.753) 0px 4px 6px -1px,
    rgba(63, 184, 8, 0.555) 0px 1px 0px inset;
}
.unread {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(214, 17, 17, 0.65) 0px 4px 6px -1px,
    rgba(214, 42, 42, 0.623) 0px 1px 0px inset;
}
.switch-button {
  position: absolute;
  bottom: 10px;
  width: 95%;
  border: none;
  background-color: black;
  color: white;
  padding: 10px 0;
  border-radius: 50px;
  transition: all 0.2s ease;
  cursor: pointer;
  text-transform: uppercase;
}
.switch-button:hover {
  bottom: 15px;
}
.switch-button:active {
  bottom: 12px;
}
footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  gap: 5px;
}
a {
  text-decoration: none;
  transition: 0.3s;
  color: black;
}
a:hover {
  text-decoration: underline;
}
